.cart_products_page {
  display: flex;
  flex-direction: column;
  margin: 0% 0% 0% 10% !important;
}
svg:hover {
  cursor: pointer;
}
.page_title_div {
  display: flex;
  flex-direction: column;
  margin: 20px 5% 20px 5%;
  color: #ca9703;
  align-items: center;
  height: 100px;
}
.cart_product_div {
  height: 125px;
  margin: 30px 5% 0 5%;
  background-color: rgba(0, 111, 247, 0.1);
  border-radius: 25px;
  padding-top: 0px;
  /* border-bottom: 1px dotted #ca9703; */
}

.cart_products_image_div {
  width: 25%;
  border-right: none !important;
  height: 100%;
}
.cart_products_desc_div {
  display: flex;

  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 100%;

  padding: 0 0 0 20px !important;
}
.cart_products_desc_div .product_title,
.cart_quantity_div,
.cart_product_total {
  display: flex;
  align-items: center;

  width: 33.3333%;
  height: 100%;
}
.cart_products_desc_div .product_title {
  font-family: "Roboto", sans-serif;

  font-size: 20px;
  justify-content: center;
  margin-bottom: 0;
}
.cart_quantity_div {
  justify-content: space-between;
  padding: 0 20px;
}
.cart_qty_operations {
  display: flex;

  justify-content: space-around;
  width: 50%;
}
.qty_icons:hover {
  cursor: pointer;
}
.cart_product_total {
  justify-content: center;
}

.cart_routes {
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  /* align-self: flex-end; */
  align-items: center;
  margin: 30px 5% 0 5%;
  color: #ca9703;
  border-radius: 25px;
  /* padding: 20px 70px 20px 100px; */
  /* background-color: rgba(0, 111, 247, 0.1); */
}
.cart_routes a button {
  color: #ca9703;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
}
.btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(1.02);
}
.subtotal_div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subtotal_div p {
  padding: 0 20px;
  align-self: center;
}
