@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

/************ LOGIN PAGE *************/
.login_section,
.role_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dcdcdc;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.login_section {
  margin: 7.5% 0 0 40%;
  width: 600px;
  height: 500px;
}
.reg_section {
  height: 700px !important;
  margin: 0% 0 0 40%;
}
.addprod {
  height: 790px !important;
  color: black;
  margin: 0% 0 0 25%;
}
.role_section {
  margin: 7.5% 0 0 40%;
  height: 400px;
}
.registeration_parent {
  height: 700px;
  margin-top: 5%;
}
.registeration_section {
  height: 100%;
}
.check_admin {
  height: 80px;
  width: 20%;
  align-self: flex-end;
  background-color: #002147;
  /* border-radius: 8px; */
  color: #dcdcdc;
  text-align: center;
}
.check_admin p {
  width: 100%;
  height: 100%;
  padding-top: 10px;
}
.check_admin:hover {
  cursor: pointer;
}
.add_prod_title {
  margin: 40px 0 20px 0;
}

.login_form,
.registration_form {
  width: 80%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  padding-top: 20px;
}
.admin_p {
  background-color: #ffffff;
}
.login_form .form_inputs,
.registration_form .form_inputs,
.form_btn {
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
}
.form_btn {
  margin-top: 20px;
  transition: 0.3s;
  background-color: #002147;
  color: #dcdcdc;
  font-size: medium;
}
.form_btn:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.login_footer {
  display: flex;
  margin-top: 20px;
  width: 80%;
  height: 50px;
  padding: 10px 0;
  color: black;
}
.login_footer p {
  width: 50%;
}
.login_footer a {
  color: #002147;
}
.back_home_div {
  width: 50%;
}
.add_footer {
  padding-right: 10%;
  align-self: flex-end;
  width: 80%;
}
.back_home_div a {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.back_home_div a svg {
  margin-right: 10px;
}
.form_error {
  border: 1px solid rgb(210, 4, 45, 0.8);
  background-color: rgb(210, 4, 45, 0.1);
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

/************ ADD PRODUCT ****************/
#display_prodImage {
  width: 100%;
  height: 200px;
  object-fit: contain;
  display: none;
}
