@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

/* CHEKOUT */
.checkout_page {
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: space-between;
  padding: 0 50px;
}

.checkout_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
  height: 700px;
  margin-top: 5%;
  padding-top: 20px;
}
.checkout_page h4 {
  width: 90%;
  padding-left: 10%;
}
.review_order,
.delivery_info {
  background-color: #dcdcdc;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  padding: 20px 0;
}
.order_subtotal,
.payment_info {
  padding: 20px 0;
  margin: 40px 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d3d3d3;
  border-radius: 8px;
}
.product_review_div * {
  color: black !important;
}
.product_review_div {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  margin: 20px 0;
}
.product_review_div .products_image_div {
  width: 100%;
  height: 100px;
  margin: 20px 0;
}
.product_review_div .products_desc_div {
  width: 80%;
  height: 50px;
}
.product_review_div .products_image_div,
.product_review_div .products_desc_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product_review_div .products_image_div h3 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.product_review_div .products_desc_div .quantity_controls {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.product_review_div .products_desc_div .btn_purchase {
  width: 50%;
  display: flex;

  align-items: center;
}
.product_review_div .products_desc_div .btn_purchase p {
  width: 100%;
}

.order_subtotal_row,
.payment_info_row {
  width: 90%;
  display: flex;
  padding: 20px 5px;
  justify-content: space-between;
}

/************ LOGIN PAGE *************/
.login_section,
.role_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dcdcdc;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.login_section {
  margin: 7.5% 0 0 40%;
  width: 600px;
  height: 500px;
}
.reg_section {
  height: 700px !important;
  margin: 0% 0 0 40%;
}
.role_section {
  margin: 7.5% 0 0 40%;
  height: 400px;
}
.registeration_parent {
  height: 700px;
  margin-top: 5%;
}
.registeration_section {
  height: 100%;
}
.check_admin {
  height: 80px;
  width: 20%;
  align-self: flex-end;
  background-color: #002147;
  /* border-radius: 8px; */
  color: #dcdcdc;
  text-align: center;
}
.check_admin p {
  width: 100%;
  height: 100%;
  padding-top: 10px;
}
.check_admin:hover {
  cursor: pointer;
}
.login_section h2 {
  /* margin-top: 80px; */
}

.login_form,
.registration_form {
  width: 80%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  padding-top: 20px;
}
.admin_p {
  background-color: #ffffff;
}
.login_form .form_inputs,
.registration_form .form_inputs,
.form_btn {
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
}
.form_btn {
  margin-top: 20px;
  transition: 0.3s;
  background-color: #002147;
  color: #dcdcdc;
  font-size: medium;
}
.form_btn:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.login_footer {
  display: flex;
  margin-top: 20px;
  width: 80%;
  height: 50px;
  padding: 10px 0;
  color: black;
}
.login_footer p {
  width: 50%;
}
.login_footer a {
  color: #002147;
}
.back_home_div {
  width: 50%;
}
.back_home_div a {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.back_home_div a svg {
  margin-right: 10px;
}
.form_error {
  border: 1px solid rgb(210, 4, 45, 0.8);
  background-color: rgb(210, 4, 45, 0.1);
  width: 100%;
  border-radius: 8px;
}
